/* importo Font's from font.css */
@import url(../css/font.css);

/* css variables */
@import url(../partials/variables.css);

/* Start Navigation */


.FirstHead .mainHead .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
}

.FirstHead .mainHead .navbar {
    padding: 1rem 20rem;
}

.FirstHead .mainHead .nav-link .nav-item {
   font: normal 500 15px/2px var(--roboto);
   font-family: var(--roboto);
   text-transform: uppercase;
   font-weight: 500;
   padding: 1.7rem;
   color: var(--title-color)

}

.header-area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header-area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* End Navigation */